
<%- include('../partials/header.ejs') %>
    <!-- TOP section -->

    <section class="top-nav">
      <div onclick="slideToggle()" id="top-nav-left">
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="30"
          width="30"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          ></path>
        </svg>
      </div>
      <div>
        <a id="militarian" href="index.html"><h3>Militarian</h3></a>
      </div>
    </section>

    <div id="menulist">
      <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="registration.html">Signup</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="termandcondition.html">Terms & conditions</a>
      <a href="policy.html">Policy</a>
    </div>

    <section class="registration-container">
      <div class="reg-items">
        <h1>Registration</h1>
        <p>
          আপনার এই নাম্বারে কোন একাউন্ট খোলা হয়নি। আপনি তথ্য গুলো পূরণ করে
          একাউন্ট খুলে নিতে পারেন
        </p>
        <hr />
        <br />
        <form action="">
          <input type="file">
        </form>
        <div id="show-profile"></div>
        <form action="login.html" id="reg-form">
          <label for="username">Candidate Name</label>
          <input type="text" id="username" placeholder="Enter your name" />
          <label for="college">College/University</label>
          <input
            type="text"
            id="college"
            placeholder="Enter your college/university"
          />
          <label for="coursename">Course</label>
          <input
            type="text"
            id="coursename"
            placeholder="Enter your course name"
          />
          <label for="phonenumber">Phone Number</label>
          <input
            type="text"
            id="phonenumber"
            placeholder="Enter your phone number"
          />
          <input type="submit" id="submit" value="Registration" />
        </form>
      </div>
    </section>
  </body>

  <script src="./script.js"></script>
  <!-- Jquery Cnd minified -->
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
</html>

<script>
  function slideToggle() {
    $("#menulist").fadeToggle(100);
  }

  //   $("body:not(")
  //     .not(".tabcontent")
  //     .click(function () {
  //       console.log("cllikedddd");
  //     });
</script>
