<%- include('../partials/admin_sidenav.ejs') %>
  <section class="rightside">
    <div><h1>This test has been cloned</h1></div>
   <h1> IT'S ALIVE!</h1>
     <p> Your clone is available at:<a href="/admin/exam/create/<%= lastCreatedExam %>/settings"> www.missionschool.xyz/exam/<%= lastCreatedExam %> </a>Don't forget that URL!</p>
  </section>
</div>
</body>
</html>
