<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
<link rel="icon" type="image/png" href="/img/favicon_favicon.png">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  <title>ISSB SCHOOL</title>
</head>
<body>
  <section class="top-section">
<h1>Admin-Mission School</h1>
  </section>
  <div class="mainbody">
  <section class="sidenav">
<div class="sidenav-items"><i class="fa-solid fa-house-chimney-user"></i><p><a href="/admin/dashboard"> Dashboard</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-brain"></i><p><a href="">Exam Control</a> </p></div>
<div class="sidenav-items"><p class="subitems"><a href="/admin/exam/create/quiz"><i class="fa-solid fa-plus"></i> &nbsp;Create Exam</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-graduation-cap"></i><p><a href="">Student Info</a></p></div>
<div class="sidenav-items"><i class="fa-regular fa-credit-card"></i><p><a href="">Payment Info</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-laptop-code"></i><p><a href="">Promocode</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-person-circle-question"></i><p><a href="/doubts">Doubts</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-square-poll-vertical"></i><p><a href="/admin/payment-history">Payment History</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-plus"></i><p><a href="/admin/course">Create Course</a></p></div>
<div class="sidenav-items"><i class="fa-solid fa-arrow-right-from-bracket"></i><p><a href="/auth/logout">Logout</a></p></div>
</section>