<section class="Bottom-Navigatoin">
    <nav class="bottom-nav">
         <a class="nav-Item ripple" href="/">
           <i class="fa-solid fa-house-chimney"></i>
           <span>Home</span>
         </a>
   
         <a class="nav-Item ripple" href="/doubts">
           <i class="fa-regular fa-heart"></i>
           <span>Doubts</span>
         </a>
   

         <a class="nav-Item ripple" href="/course"
           ><i class="fa-solid fa-list-check"></i></i>
           <span>Course</span>
         </a>
   
         <a class="nav-Item ripple" href="/dashboard">
           <i class="fa-regular fa-user"></i>
           <span>Profile</span>
         </a>
       </nav>
   </section>
     </body>
   </html>


   