<%- include('../partials/header.ejs') %>

<section class="top-nav">
    <div><h4>Privacy and Policy</h4></div>
 <img src="https://www.issb-bd.org/imgs/logonew.png" id="top-nav-icon-issb">
</section><br><br><br>

<div style="width:90%; margin: 0px auto; color:white;" >
<h1>Privacy and Policy</h1>
<h3>১. তথ্য সংগ্রহ এবং ব্যবহার</h3>
আমরা আপনার কাছ থেকে বিভিন্ন উদ্দেশ্যে তথ্য সংগ্রহ করতে পারি। তথ্য সংগ্রহের মূল উদ্দেশ্য আপনি যেন আমাদের কাছ থেকে সর্বোত্তম সেবাটা পান, তা নিশ্চিত করা। সংগ্রহকৃত তথ্যের মধ্যে থাকতে পারে ই-মেইল, ঠিকানা, নাম, ফোন নাম্বার ইত্যাদি।
<h3>২. তথ্যের ব্যবহার</h3>
উৎকর্ষ আপনার দেয়া তথ্য ব্যবহার করে বিভিন্ন উদ্দেশ্যে আপনার সাথে যোগাযোগ করতে পারে। আপনার সাথে যোগাযোগ করে প্রাপ্ত তথ্যের ভিত্তিতে আমাদের সেবার মানোন্নয়ন করার কাজে তা ব্যবহার করা হতে পারে।
<h3>৩. তথ্য সংরক্ষণ</h3>
আপনার ব্যক্তিগত তথ্য যতদিন প্রয়োজন পড়ে, ততদিন আমরা সংরক্ষণ করতে পারি।
<h3>৪. তথ্যের নিরাপত্তা</h3>
আপনার তথ্যের নিরাপত্তা আমাদের কাছে গুরুত্বপূর্ণ এবং আমরা নিরাপত্তা প্রদানে সর্বোচ্চ চেষ্টা করবো। তবে ইন্টারেন্টে রক্ষিত কোনো তথ্যেরই ১০০% সুরক্ষা নিশ্চয়তা দেয়া সম্ভব হয় না। তবে আমরা সর্বোচ্চ গুরুত্ব দেবো আপনার তথ্যের যথাযথ নিরাপত্তার এবং গোপনীয়তার জন্যে।
<h3>৫. আপনার অধিকার</h3>
আপনি যেকোনো সময় আমাদের সাইটে লগ ইন করে আপনার ব্যক্তিগত তথ্য হালনাগাদ, সম্পাদনা এবং মুছে দেয়ার অধিকার রাখেন।
<h3>৬. তৃতীয় পক্ষের হস্তক্ষেপ</h3>
আমাদের সেবার মান উন্নয়ন করার জন্যে আমরা আপনার ব্যক্তিগত তথ্য তৃতীয় পক্ষকে বিশ্লেষণের জন্যে দিতে পারি।
<h3>৭. প্রাইভেসি নীতিতে পরিবর্তন</h3>
আমরা আমাদের প্রাইভেসি নীতিতে পরিবর্তন আনতে পারি। সেরকম ক্ষেত্রে তা আপনাকে অবহিত করা হবে।
<h3>৮. যোগাযোগ</h3>
আপনার যদি এ সংক্রান্ত কোনো প্রশ্ন থাকে তাহলে দয়া করে ashrafulashik0177@gmail.com এ যোগাযোগ করুন।

</div>
</section>


<br><br>
<br><br>
<br><br>

<!-- bottom nagivatoin section  -->


<%- include('../partials/bottom-nav.ejs') %>

</body>
