<%- include('../partials/header.ejs') %>

<section class="top-nav">
    <div><h4>Terms and Conditions</h4></div>
 <img src="https://www.issb-bd.org/imgs/logonew.png" id="top-nav-icon-issb">
</section><br><br><br>

<div style="width:90%; margin: 0px auto; color:white">
<h1>Terms and Conditions</h1>
<p>মিশন স্কুল এর পণ্য এবং সেবা গ্রহণ করার নিমিত্তে আপনাকে নিম্নলিখিত শর্তাবলী মেনে চলতে হবে। এর কোনোটার সাথে আপনার মতানৈক্য থাকলে অনুগ্রহ করে আমাদের পণ্য অথবা সেবা ব্যবহার করা থেকে বিরত থাকুন।</p>
<h3>ক্রয় ও বিক্রয়:</h3>

আপনি যদি মিশন স্কুলর কোন পণ্য/সার্ভিস মাধ্যমে কিছু ক্রয় করতে চান, তার জন্য আপনাকে আমাদের ওয়েবসাইট অথবা এপ-এ অন্তর্ভুক্ত বিশ্বস্ত মোবাইল ব্যাংকিং এর মাদ্ধমে অর্থ প্রদান করতে হবে। বিল পরিশোধ করে আপনি আমাদের সার্ভিস অথবা গ্রহন করতে পারবেন। আমাদের সার্ভিস আপনি ব্যতিত অন্য কারো কাছে শেয়ার অথবা বিক্রয় করা যাবেনা।

<h3>ডেলিভারির সময়সীমা:</h3> 
ক্রেতা যে কোর্সটির জন্য মূল্য পরিশোধ করবেন, সে কোর্সটিতে তিনি সর্বোচ্চ ১ কর্মদিবসের মধ্যেই উল্লেখিত সকল সেবা গ্রহণের জন্য নিবন্ধিত হয়ে যাবেন এবং যথাসময়ে শিক্ষা কার্যক্রমে অংশ নিতে পারবেন। পণ্য ক্রয়ের ক্ষেত্রে ৭-১০ কর্মদিবসের মদ্ধ্যে আপনার নিকট প্রেরন করা হবে। 
<h3>মূল্যফেরত:</h3> 
আপনি যদি কোনো কারিগরি ত্রুটির কারণে, অথবা প্রতিশ্রূত সেবা না পেয়ে অথবা ভুলবশত কোর্স ক্রয় করে তা ফেরত দিতে চান, সেক্ষেত্রে আপনি মূল্য ফেরত জন্যে অনুরোধ করতে পারেন। বিষয়টি মিশন স্কুল বিবেচনা করে আপনার মূল্য ফেরত প্রদান করবে। 



<h3>পণ্যফেরত:</h3>  
আপনি যদি কোনো কারিগরি ত্রুটির কারণে, অথবা প্রতিশ্রূত সেবা না পেয়ে অথবা ভুলবশত কোর্স ক্রয় করে তা ফেরত দিতে চান, সেক্ষেত্রে আপনি রিফান্ডের জন্যে অনুরোধ করতে পারেন।
পণ্য ফেরত প্রযোজ্য হবে না যদিঃ যদি ই-বুক ক্রয় করেন।



<h3>বিক্রয়োত্তর সেবা:</h3>  
ওয়েবসাইটে অনাকাঙ্ক্ষিত কোন সমস্যা দেখা দিলে কিংবা কোর্স সংক্রান্ত কোন বিষয় থাকলে +8801839886977 নাম্বারে অথবা আমাদের অফিশিয়াল ফেসবুক পেইজে যোগাযোগ করা হলে যথোপযুক্ত সমাধান প্রদান করা হবে। 

<h3>মূল্য ফেরতের নির্ধারিত সময়:</h3> 
কোর্স শুরু হবার তারিখ থেকে ৭ দিনের মধ্যে এই আবেদন করতে হবে। দিন গণনা শুরু হবে কোর্স শুরু হবার দিন থেকে, আপনার পেমেন্ট করার দিন থেকে নয়। যেমন, আপনি যদি ৬তম দিনে কোর্সটি কেনেন, তাহলে মূল্য ফেরতের জন্যে ১ দিন সময় পাবেন। যদি কোর্স চলাকালীন সময়ে কোর্স ক্রয় করে থাকেন উপযুক্ত কারন চাহ্রা মূল্য ফেরত প্রদান করা হবে না। উপযুক্ত কারন থাকলে আপনাকে ৭০% মূল্য ফেরত প্রদান করা হবে
<h3>পোস্ট-সেবা সমর্থন:</h3>  
আমরা সেবা দেওয়ার পরে আপনার সাথে যোগাযোগ করতে পারি সেবা সমর্থন সরবরাহের জন্য। আপনি সেবা সমর্থন প্রদানকারীদের সাথে যোগাযোগ করতে সক্ষম থাকতে হবে এবং প্রয়োজনে সহায়ক তথ্য প্রদান করতে সাম্প্রদায়িক সাইটে পোস্ট করতে পারেন।

<h3>৭ দিন পার হয়ে গেলে: </h3> 
কোর্স শুরু হবার ৭ দিন পার হয়ে গেলে মূল্য ফেরতের জন্যে আবেদন করা যাবে না।
<h3>কিভাবে মূল্য ফেরতের জন্যে অনুরোধ করতে হবে?:</h3>  
মূল্য ফেরতের জন্যে অনুরোধ করতে হলে কোর্স শুরুর ৭ দিনের মধ্যে আমাদের কল সেন্টারের নাম্বারে +8801839886977 এ জানাতে হবে প্রয়োজনীয় তথ্যসহ। আপনার মূল্য ফেরতের আবেদনটি গৃহীত হলে পরবর্তী ৭-১০ কর্মদিবসের মধ্যে পরিশোধিত মূল্য একাউন্টে ফেরত পেয়ে যাবেন।

<h3>মূল্য ফেরতের প্রযোজ্য হবে না যদি:</h3>  
আপনি ৭ দিন পার হবার পর আবেদন করেন।
যদি ই-বুক ক্রয় করেন।
মূল্য ফেরতের জন্যে আবেদন করলে আপনার ক্রয়কৃত কোর্স ৭২ ঘন্টার জন্যে সাময়িকভাবে বন্ধ করে দেয়া হবে। এরপর যাচাই বাছাই করার পর আপনার রিফান্ড বিবেচ্য কি না তা এই সময়ের মধ্যে নিরীখ করা হবে। আপনি এসএমএস এর মাধ্যমে ফলাফল এর নোটিফিকেশন পাবেন।



<h3>ব্যবহারকারীর দায়ঃ:</h3>  
মিশন স্কুল এর পণ্য বা সেবা ব্যবহার করতে হলে আপনার একাউন্টের গোপনীয়তা বজায় রাখতে হবে। আপনার ইউজার নেম এবং পাসওয়ার্ড কাউকে প্রদান করতে পারবেন না। 

<h3> বুদ্ধিবৃত্তিক সম্পত্তি:</h3>
মিশন স্কুল এর সমস্ত রকম পণ্য, সেবা এবং কন্টেন্টের মালিকানা মিশন স্কুল এরই। অনুমতি ছাড়া এগুলির কোনোরকম প্রতিলিপি অথবা পরিবর্তন,পরিবর্ধন করে ব্যবহার আইনত দণ্ডনীয়।
<h3>ব্যবহারকারীর আচরণ বিষয়ক নিষেধাজ্ঞা :</h3>
ব্যবহারকারী আমাদের পণ্য, পরিষেবা বা প্লাটফর্ম ব্যবহার করে দেশের আইনবিরোধী কার্যক্রম, অন্যকে হেনস্থা করা এবং, অন্যের গোপনীয়তা ভঙ্গ করা, সন্দেহজনক লিংক প্রদান থেকে বিরত থাকবেন। এমন কার্যক্রম করতে পারবেন না৷ যা মিশন স্কুল এর কার্যক্রমের স্বাভাবিক প্রবাহকে বাধাগ্রস্থ করে।

<h3>ব্যবহারকারীর অবদান বিষয়ে:</h3>
ব্যবহারকারী মিশন স্কুল এর সোশাল মিডিয়া, ওয়েবসাইটে পোস্ট, কমেন্ট ইত্যাদির মাধ্যমে কার্যক্রমকে চলমান রাখতে সহায়তা করতে পারবেন। এই কার্যক্রমগুলিতে অংশ নেয়ার সাথে তিনি মিশন স্কুলকে এগুলি পরিবর্তন, পরিবর্ধন করে বারংবার ব্যবহারের অনুমতি স্বয়ংক্রিয়ভাবে প্রদান করে ফেলবেন।

<h3> হালনাগাদ তথ্য বিষয়ক শর্ত:</h3>
মিশন স্কুল পণ্য এবং পরিষেবার মাধ্যমে হালনাগাদ এবং নির্ভরযোগ্য তথ্য দেয়ার জন্যে প্রতিশ্রুতিবদ্ধ। তবে সব তথ্য শতভাগ সঠিক এবং হালনাগাদ হবে এই নিশ্চয়তা প্রদান করে না।
আমাদের পণ্য এবং পরিষেবাগুলি ব্যবহার করে অথবা ব্যবহারে অক্ষমতা থেকে উদ্ভূত কোনো প্রত্যক্ষ, পরোক্ষ ক্ষতির জন্যে কোন অবস্থাতেই মিশন স্কুল দায়ী থাকবে না।
</div>
</section>
<br><br>
<br><br>
<br><br>

<!-- bottom nagivatoin section  -->


<%- include('../partials/bottom-nav.ejs') %>

</body>
